/* Add CSS Styling */
.mono {
  background: #000000;
  color: #ffffff;
}

.colored {
  background: #eee8aa;
}

button {
  font-size: 28px;
  font-family: "Helvetica", "Times New Roman", sans-serif;
}
